body {
	padding-top: 60px;
	background-color: #D1D1D1;
}

.navbar.navbar-default.navbar-fixed-top {
	background-color: #0279BA;
	height: 50px;
}

.navbar-content {
	padding: 15px;
	color: white;
	font-size: 16px;
	text-align: center;
}

.navbar-content .navbar-left {
	width: 40%;
	height: 40px;
	display: inline-block;
	float: left;
}

.navbar-content .navbar-left .active, .navbar-content .navbar-left .inactive:hover
	{
	color: white;
	padding-left: 5px;
	margin-right: 5px;
	/* 	border-left: 1px solid white;
 */
}

.navbar-content .navbar-left .inactive {
	color: #b3b3b3;
	padding-left: 5px;
	margin-right: 5px;
	/* 	border-left: 1px solid #b3b3b3;
 */
}

.navbar-content .navbar-center {
	width: 20%;
	height: 40px;
	display: inline-block;
}

.navbar-content .navbar-center h3 {
	display: inline-block;
	margin: 0;
}

.navbar-content .navbar-right {
	width: 40%;
	height: 40px;
	padding-right: 20px;
	display: inline-block;
}

.navbar-right a {
	color: #b3b3b3;
	text-decoration: none;
}

.navbar-right a:hover {
	color: white;
	text-decoration: none;
}

#jobs-section .sidebar {
	width: 25%;
	display: inline-block;
	position: fixed;
	padding-top: 25px;
	text-align: center;
}

#jobs-section .sidebar .panel {
	margin-left: 3.2%;
	height: 50px;
}

#jobs-section .sidebar .col-lg-6 {
	padding-top: 1.6%;
	width: 100%;
}

#jobs-section .container {
	margin-left: 25%;
	width: 75%;
	display: inline-block;
}

#jobs-section .container .row {
	text-align: center;
	max-height: 325px;
	padding-top: 25px;
}

#jobs-section .container .panel {
	width: 30%;
	height: 300px;
	margin-right:1.6%;
	max-height: 300px;
	display: inline-block;
}

#jobs-section .container .panel .panel-heading{
	height:15%;
}
#jobs-section .container .panel .panel-body{
	height:70%;
}
#jobs-section .container .panel .panel-footer{
	height:15%;
}

.profile-content {
	width: 70%;
	height: 400px;
	max-height: 400px; 
	margin-left : 20%;
	background: white;
	border-radius: 30px;
}

.profile-photo {
	width: 30%;
	height: 370px;
	margin: 15px;
	display: inline-block;
	float:left;
}

.profile-photo img {
	width: 225px;
	height: 370px;
	border-radius: 20px;
	box-shadow: 2px 2px 2px black;
}

.profile-bio {
	width: 60%;
	height: 370px;
	margin: 15px;
	display: inline-block;
	text-align:center;
}

.well.well-lg {
	width: 100%;
	height: 100%;
}

.modal-content {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

.modal-header {
	background-color: white;
	color: #0279BA;
	-webkit-border-top-left-radius: 50px;
	-webkit-border-top-right-radius: 50px;
	-moz-border-radius-topleft: 50px;
	-moz-border-radius-topright: 50px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}

.modalError {
	text-align: center;
	color: red;
}

