#jobs-section .searchBar {
	width: 40%;
	margin-left: 30%;
	text-align: center;
}
#jobs-section .searchBar .input-group {
	width: 100%;
}
.container {
	width:100%;
}
.container .row {
	text-align: center;
	margin-right:5%;
	margin-left:5%;
}
#jobPanelClickable{
	color: black;
	outline: 0;
	-webkit-transition: .7s ease-in-out;
	-moz-transition: .7s ease-in-out;
	-ms-transition: .7s ease-in-out;
	-o-transition: .7s ease-in-out;
}
.row #jobPanelClickable:hover{
	color:#0850b9;
	-webkit-transition: .7s ease-in-out;
	-moz-transition: .7s ease-in-out;
	-ms-transition: .7s ease-in-out;
	-o-transition: .7s ease-in-out;
}
.container .panel {
	width: 250px;
	margin:1%;
	height:250px;
	display: inline-block;
}
.container .panel .panel-heading{
	height:15%;
	overflow:scroll;
}
.container .panel .panel-body{
	height:70%;
	overflow:scroll;
}
.container .panel .panel-footer{
	height:15%;
	bottom:0;
	overflow:scroll;
}
.deleteJobDiv{
	background-color: #EFEFEF;
}
